*{
    padding: 0px;
    margin: 0px;
}

body{
    background-image: url(https://i.postimg.cc/YqFd6KWs/1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1000px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 60px;
    line-height: 60px;

}

ul{
    display: flex;
    gap: 100px;
    align-items: center;
}

ul li{
    list-style: none;
}

li a {
    text-decoration: none;
    font-weight: 900;
    font-size: 1em;
    color: white;
    transition: 0.4s ease-in-out;
 
}

.logo{
    height: 30px;
}

.logo p{
    color:#ff7200;
    font-size: 2em;
    padding: 3px 15px;
    font-weight: 900;
    margin-left: 30px;
    
    
}

 li a:hover{
   
    color: #ff7200
   
}

.input{
    margin-right: 26px;
    outline: 1px   #ff7200;
   
}

.type{
   margin: 0px;
   padding: 8px;
   border: 1px solid white;
   border-right: none;
   background-color: black;
   
}

.btn{
   margin: 0px;
   padding: 8px;
   background-color: #ff7200;
   color: white;
}

.content{
    position: absolute;
    left: 150px;
    top: 200px;
}

.join{
   margin-top: 20px;
   margin-left: 20px;
   padding: 15px 50px;
   color: black;
   background-color: #ff7200;
   font-size: medium;
   font-weight: 600;
   border: none;
   border-radius: 8px;
   
}

.join:hover{
    cursor: pointer;
}


.form{
    width: 250px;
    height: 380px;
    background-color: black;
    position: absolute;
    top: 110px;
    left: 850px;
    border-radius: 10px;
    padding: 25px;

}

.form h2{
    color:#ff7200;
    height: 30px;
    background-color: white;
    text-align: center;
    padding: 3px 5px;
    border-radius: 9px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    margin-top: 10px;
    border-top: none;
    border-bottom: 1px solid #ff7200;
    border-left: none;
    border-right: none;
    color: white;
}

.btn1{
    height: 35px;
    background-color: white;
    text-align: center;
    padding: 2px 100px;
    border-radius: 9px;
    margin-top: 30px;
    font-size: 1.2em;
    background-color: #ff7200;
    
    
   
   
}

.btn1 a {
    text-decoration: none;
    color: black;
    text-align: center;
}

.link{
    color: white;
    margin-left: 50px;
    margin-top: 20px;
}

.sign{
    color: #ff7200;
    text-decoration: none;
    margin-left: 80px;
    
}

.M{
    color: white;
    
}

.liw{
    color: white;
    margin-left: 83px;
    margin-top: 40px;
}

.content h1{
    color: white;
}

.content p{
    color: white;
}

.content button{
    border-radius: 9px;
}

.search{
    padding: 7px 9px;
    background: transparent;
    border-right: none;
    color: white;
   border-bottom: none;
}

.btn:hover{
    cursor: pointer;
}


/* Responsiveness */

@media screen and (max-width:) {
    
    
}
